<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>add - orang</title>
</head>
<body>
<h1>Add Data Orang</h1>
<form th:action="@{~/orang/save}" method="post">

    <label>Id</label><br/>
    <input type="text" name="id"><br/>

    <label>Nama</label><br/>
    <input type="text" name="nama"><br/>

    <label>Jenis Kelamin</label><br/>
    <input type="text" name="jk"><br/>

    <label>Usia</label><br/>
    <input type="text" name="usia"><br/>

    <label>Alamat</label><br/>
    <input type="text" name="alamat"><br/>

    <button type="submit">Simpan</button>
    <button>
        <a th:href="@{~/orang}">Back</a>
    </button>
</form>
</body>
</html>